*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
}
h1{
    color: var(--h1-color);
}
h2{
    color:var(--h2-color);
}
footer{
    background-color: var(--footer-background-color);
    color:var(--footer-text);
}
:root{

    --h1-color:#4676A9;
    --h2-color:#CB721C;
    --footer-background-color:#22466C;
    --footer-text:#fff;
}